<div class="card card-primary" (hidden)="data.hidden">
  <div class="card-header">

  </div>
  <div class="card-body">
    <form role="form">
      <div class="row">
        <!-- text input -->
        <div class="form-group">
          <h3 class="form-control">{{data.question}}</h3>
        </div>
      </div>
      <div class="row">
        <!-- text input -->
        <div class="form-group">
          <p class="form-control">{{data.description}}</p>
        </div>
      </div>
      <div class="row">
        <!-- text input -->
        <div class="form-group" *ngIf="data.el_type == 'text'">
          <input type="text" class="form-control" placeholder="Ответ" name="answer" [(ngModel)]="data.answer"
            (ngModelChange)="onChange()">
        </div>
        <div class="form-group" *ngIf="data.el_type == 'longtext'">
          <textarea class="form-control" rows="10" placeholder="Ответ" name="answer" [(ngModel)]="data.answer"
            (ngModelChange)="onChange()">
            </textarea>
        </div>
      </div>
    </form>
  </div>
</div>
