<div class="content-wrapper">
  <section class="content">

    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Настройки формы</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <form role="form">
          <div class="row">
            <div class="col-sm-6">
              <!-- text input -->
              <div class="form-group">
                <label>Название формы</label>
                <input type="text" class="form-control form-control-lg" placeholder="Название формы"
                  [(ngModel)]="this.form.name" name="name" required="true">
              </div>
            </div>
            <div class="col-sm-6">
              <!-- textarea -->
              <div class="form-group">
                <label>Описание формы</label>
                <textarea class="form-control" rows="3" placeholder="Описание" [(ngModel)]="this.form.description"
                  name="description"></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="BEDate" name="whith_date">
              <label class="form-check-label">Ограничить по дате</label>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <!-- text input -->
              <div class="form-group">
                <label>Дата начала заполнения</label>
                <input type="date" class="form-control" [disabled]="!BEDate" [(ngModel)]="this.form.s_date"
                  name="s_date">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Дата окончания заполнения</label>
                <input type="date" class="form-control" [disabled]="!BEDate" [(ngModel)]="this.form.e_date"
                  name="e_date">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="this.form.private" name="private">
                <label class="form-check-label">Приватная форма</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="this.form.anonym" name="anonym">
                <label class="form-check-label">Анонимная форма</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" checked [(ngModel)]="this.form.one_answer"
                  name="one_answer">
                <label class="form-check-label">Один ответ на человека</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="this.form.editing" name="editing"
                  [disabled]="!this.form.one_answer">
                <label class="form-check-label">Возможено изменить ответы</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="this.form.recapcha" name="recapcha">
                <label class="form-check-label">ReCapcha</label>
              </div>
            </div>
          </div>

        </form>
      </div>
      <!-- /.card-body -->
    </div>
    <element *ngFor="let dynamic of dynamics; let i=index;" [element]="dynamic" [data]="dynamic" [index]="i"
      (delete)="onDelete($event)" (change)="onChange($event)" (copy)="onCopy($event)">
    </element>
    <br>
    <form>
      <div class="input-group">
        <select class="form-control" [(ngModel)]="type" name="id">
          <option class="form-control" *ngFor="let name of names; let i=index;" [value]="elements[i]">{{name}}</option>
        </select>
        <span class="input-group-append">
          <button class="btn btn-info btn-flat" (click)="onAdd()">Добавить</button>
        </span>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary" (click)="onSave()">Сохранить</button>
        </div>
      </div>
    </form>
  </section>
</div>
